/* Modal */
/* The Modal (background) */
.add-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  .add-modal-content, .add-modal-content-admin {
    overflow: scroll;
    position: fixed !important;
    z-index: 2;
    background-color: #fefefe;
    margin: 15vh auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50% !important; 
    right: 10% !important;
    left: 10% !important;
    height: 70%;
  }


  /* The Close Button */
  .add-modal-close {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .add-close:hover,
  .add-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #add-modal-ul{
    list-style-type: none;
  }

  #add-modal-li{
    display: inline-block
  }

  
  .btn-div{
   margin-top: 30px;
  }

  /* Edit Cards */
  .hovered-card-edit, .hovered-card-delete{
    transition: ease .4s;
  }
  .hovered-card-edit{
    background-color: rgba(128, 128, 128, .5);
  }
 .hovered-card-delete{
  background-color: rgba(255, 124, 124, 0.5);
  }
