/* Card */
.member-card{
    display: flex;
    flex-direction: row;
    height:11vh !important;
    margin: 2px;
}

.member-photo{
    margin-left: 50px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

/* Modal */
/* The Modal (background) */
.member-card-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }
  
  .member-card-modal-content, .member-card-modal-content-admin {
    position: fixed !important;
    z-index: 2;
    background-color: #fefefe;
    margin: 15vh auto; 
    padding: 20px;
    border: 1px solid #888;
    right: 10% !important;
    left: 10% !important;
    width: 400px;
    height: 70%;
    border-radius: 20px;
  }

  .member-card-modal-content-admin{
    background-color: gold;
  }
  
  /* The Close Button */
  .member-card-modal-close {
    cursor: pointer;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  

  .member-card-close:hover,
  .member-card-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .member-card-modal-image img{
      height: 175px;
      width: 175px;
      border-radius: 20px;
      margin-top: 25px;

  }

  .members-list{
    height: 575px !important;
  }

  .members-list{
    height: 590px;
    position: relative;
    background-color:rgb(36, 36, 36);
    border-radius: 20px;
  }

  .member-pagination{
    position: absolute;
    bottom: -10px;
    right: 35%;
    left: 35%;
  }

  .member-pagination ul button {
    border-radius: 50% !important;
    border-radius: 2px solid black !important;
  }
